.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.active, .collapsible:hover {
    background-color: #555; 
}

body {
    height: 100vh;
    overflow: hidden;
}

.main-window {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

/* .todo-window{
    max-height: 50vh;
}

.more-options {
    max-height: 50vh;
} */

.content {
    padding: 0 18px;
    height: 0;
    overflow: hidden;
    transition: height 0.2s ease-out;
    background-color: rgb(33, 37, 43);
    width: 100vw;
    position: relative;
    left: -25px;
}

.pane{
    display: flex;
    flex-direction: column;

    overflow: hidden;

    width: 100vw;
    position: relative;
    left: -20px;
}

.pane-header{
    line-height: 22px;
    color: var(--vscode-sideBarSectionHeader-foreground);
    background-color: var(--vscode-sideBarSectionHeader-background);
    border-top: 1px solid var(--vscode-sideBarSectionHeader-border);
    position: relative;
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    font-size: 11px;
    font-weight: 700;
    height: 22px;
    overflow: hidden;
}

.title{
    font-size: 11px;
    min-width: 3ch;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    text-transform: uppercase;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    display: block;
}

.indicator {
    color: var(--vscode-icon-foreground);

}

.pane.active .pane-header{
    opacity: 1;
    outline-color: var(--vscode-focusBorder);
    outline-offset: -1px;
    outline-style: solid;
    outline-width: 1px;
}

#completed-global-tasks-list, #completed-todo-list{
    overflow: scroll;
    max-height: 90%;
}

#todo-list{
    overflow: scroll;
    max-height: 90%;
}

#global-tasks-list {
    overflow: scroll;
    max-height: 90%;
}